
@model IEnumerable<Forum.Models.TblPosts>

@{
    ViewData["Title"] = "Post";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td> 
                <a href="penis">
                     @Html.DisplayFor(modelItem => item.PoId)
                </a>
            </td>
            <td>
                <a href="penis">
                    @Html.DisplayFor(modelItem => item.PoName)
                </a>
            </td>
            <td>
                <a href="penis">
                    @Html.DisplayFor(modelItem => item.PoContent)
                </a>
            </td>
            <td>
                <a href="penis">
                    @Html.DisplayFor(modelItem => item.PoDate)
                </a>
            </td>
            <td>
                <a href="penis">
                    @Html.DisplayFor(modelItem => item.PoAuthor)
                </a>
            </td>
            <td>
                <a href="penis">
                    @Html.DisplayFor(modelItem => item.PoCategory)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
  
