@model Forum.Models.TblPosts

@{
    ViewData["Title"] = "Read";
}

<h2><a asp-controller="Category" asp-action="Posts" asp-route-id=@Model.PoCategory> @ViewBag.category</a> > @Html.DisplayFor(Model => Model.PoName)</h2>
<div class="col-lg-12">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <td>
                <h2>@Html.DisplayFor(model => model.PoName)</h2>
            </td>
            <td>
                <p>@Html.DisplayFor(model => model.PoContent)</p>
                <p>Posted on @Html.DisplayFor(model => model.PoDate)</p>
            </td>
        </dl>
    </div>
</div>


<h2>Comments</h2>

<table>
    <tbody>
        @foreach (TblComments item in ViewBag.comments)
        {
            <tr>
                <td>
                    @item.CoId
                </td>
                <td>
                    @item.CoContent
                </td>
                <td>
                    @item.CoDate
                </td>
                <td>
                    @item.CoPost
                </td>
            </tr>
        }
    </tbody>

</table>

<div>
    @Html.RenderAction("Create", "Comment", "", new { id = Model.PoId })
</div>


