@model Forum.Models.TblPosts

@{
    ViewData["Title"] = "Read";
}

<h2><a asp-controller="Category" asp-action="Posts" asp-route-id=@Model.PoCategory> @ViewBag.category</a> > @Html.DisplayFor(Model => Model.PoName)</h2>
<div>
    <h4>TblPosts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PoId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoAuthor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoAuthor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PoCategory)
        </dd>
    </dl>
</div>

<table>
    <tbody>
        @foreach (TblComments item in ViewBag.comments)
        {
            <tr>
                <td>
                    <a asp-controller="Post" asp-action="Read" asp-route-id=@item.CoId>
                        @item.CoId
                    </a>
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Read" asp-route-id=@item.CoId>
                        @item.CoContent
                    </a>
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Read" asp-route-id=@item.CoId>
                        @item.CoDate
                    </a>
                </td>
                <td>
                    <a asp-controller="Post" asp-action="Read" asp-route-id=@item.CoId>
                        @item.CoPost
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>
